.activate-left-bar {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: #b3b1b182;
    color: black;
}

.activate-left-bar-title {
    font-size: 30px;
    margin-top: 15px;
    font-weight: bolder;
    padding: 10px 10px;
    padding-bottom: 0;
    color: black;
}

.activate-left-bar-container {
    padding-bottom: 10px;
    margin-top: 5px;
}

.activate-left-bar-container-element {
    padding: 2px 10px;
    display: flex;
    align-items: center;
    transition: background-color 100ms;
}

.activate-left-bar-container-element:hover {
    background-color:#b3b3b3;
}

.activate-left-bar-container-element:active {
    background-color:#959595;
}

.activate-left-bar-container-element-text {
    margin-left: 5px;
}

.activate-page {
    flex: 1;
    padding: 10px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.activate-by-code-text {
    font-size: 27px;
    font-weight: bolder;
}

.activate-by-code-input {
    outline: none;
    border: 0;
    background-color: #ffffff63;
    width: 100%;
    height: 15px;
    font-size: 10px;
    border-radius: 5px;
    box-shadow: 0 0 3px gray;
    padding-left: 5px;
    margin-top: 5px;
}

.activate-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.activate-by-code-status {
    margin-top: 5px;
    margin-bottom: 5px;
    color: red;
    font-weight: bolder;
}

.activate-enabled-selection {
    background-color:#adadad;
}

.convert-base {
    width: 100%;
    padding: 5px;
}

.convert-base-title {
    font-size: 25px;
    font-weight: bolder;
}

.convert-base-a-col {
    display: flex;
    align-items: center;
    margin: 3px 0;
}

.convert-base-rest-count {
    font-weight: bold;
    color: green;
}

.convert-base-right-element {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.convert-base-numberbox {
    outline: none;
    border: 0;
    background-color: #ffffff63;
    width: 35px;
    height: 15px;
    font-size: 10px;
    border-radius: 5px;
    box-shadow: 0 0 3px gray;
    padding-left: 5px;
    margin-left: auto;
    margin-right: 2px;
}

.convert-history-table {
    width: 100%;
    font-size: 9px;
    color: black;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    border: 1px dashed slategray;
}

.convert-operate-log-box {
    width: 100%;
    padding: 5px;
    display: fl1ex;
    font-size: 10px;
    box-shadow: 0 0 3px gray;
    overflow-y: auto;
    height: 80px;
}