.task-list-title {
    font-size: 25px;
    font-weight: bolder;
    margin-top: 10px;
}

.task-list-element-container {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid gray;
    border-radius: 10px;
    line-height: 18px;
}

.task-list-each-item-title {
    font-size: 16px;
    font-weight: bolder;
    text-align: left;
}

.task-status-item-container {
    display: flex;
}

.task-status-each-item-container {
    margin-right: 5px;
}

.task-status-item-left {
    font-weight: bolder;
    margin-right: 5px;
}

.task-operate-btns {
    display: flex;
    margin-top: 5px;}

.tasks-container {
    width: 100%;
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}